<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.srishti.flickrbrowser">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/icon_new"
        android:label="@string/app_name"
        android:theme="@style/Theme.Flickr">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.Flickr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.srishti.flickrbrowser.activities.MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".activities.ViewPhotoDetailsActivity"
            android:label="@string/title_activity_view_photo_details"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.Flickr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.srishti.flickrbrowser.activities.MainActivity"/>
        </activity>
    </application>

</manifest>